@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

$primary-color: #ffffff;

html {
  // background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  text-align: center;
}

.bg-image {
  position: fixed;
  z-index: -1;
  filter: blur(2px);
  top: 0;
}

header {
  background-color: transparent;
  display: block;
  text-align: center;
  nav {
    width: 100%;
    ul {
      text-align: center;
      list-style-type: none;
      margin: 0;
      padding: 15px;
      li {
        display: inline-flex;
        font-family: $secondaryFont;
        font-size: 1rem;
        a {
          color: $primaryBtn;
          text-decoration: none;
          padding: 14px;
          background-position: 0 100%;
          -moz-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
          &:hover {
            color: $hoverColor;
          }
        }
      }
    }
  }
}
#navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
}

.main {
  display: grid;

  // Set columns to 2
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;

  max-width: max-content;
  margin: 0 auto;

  z-index: 10;
}

.bodyContainer {
  margin-top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  transition: 0.4s;

  &:hover {
    .imgText {
      border-radius: 10px;
      padding-top: 70px;
      padding-bottom: 90px;
      font-size: 1.75rem;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  .imgText {
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    font-family: $secondaryFont;
    font-weight: 100;
    color: $primary-color;
    background-color: black;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    text-decoration: none;

    // Force text to display on one line
    overflow: hidden;
    white-space: nowrap;

    // Smooth hover animation
    transition: 0.4s;
  }
}

img {
  border-radius: 10px;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  font-family: $primaryFont;
  bottom: 0%;
  position: fixed;
}

@media screen and (max-width: 700px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
}
