@import "_variables";

html {
  // background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image {
  position: fixed;
  z-index: -1;
  filter: opacity(50%);
  top: -10;
}

body {
  margin: 0;
}

header {
  background-color: transparent;
  display: block;
  text-align: center;
}


#flex {
  border-top: groove;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  background-color: transparent;
  
  // To control number of columns
  margin-left: 15%;
  margin-right: 15%;
}

#navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 1;
  background-color: black;
}


nav {
  width: 100%;
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    li {
      display: inline;
      font-family: $primaryFont;
      font-size: 1rem;
      a {
        color: $primaryBtn;
        text-decoration: none;
        padding: 14px;
        background-position: 0 100%;     
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;    
        &:hover {
          color: $hoverColor;
        }
      }
    }
  }
}



button {
  position: absolute;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  height:80px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:80px;
  background-color: black;
  pointer-events: auto;
  -ms-transform: translateX(-20%) translateY(-50%);
  transform: translateX(-20%) translateY(-50%);
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; 
  font-family: $primaryFont;
  &:hover {
    color: $hoverColor;
  }  
}

.bodyContainer {
  margin-top: 60px;
}
