@import "_variables";

$primary-color: #ffffff;

html {
  // background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image {
  position: fixed;
  z-index: -1;
  filter: opacity(50%);
  top: -10;
}

body {
  margin: 0;
  text-align: center;
}

header {
  background-color: transparent;
  display: block;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;

  max-width: max-content;
  margin: 0 auto;

  z-index: 10;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
}

nav {
  width: 100%;
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    li {
      display: inline-flex;
      font-family: $primaryFont;
      font-size: 1rem;
      a {
        color: $primaryBtn;
        text-decoration: none;
        padding: 14px;
        background-position: 0 100%;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        &:hover {
          color: $hoverColor;
        }
      }
    }
  }
}

.bodyContainer {
  margin-top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 10px;
}

.imgText {
  position: absolute;
  bottom: 0;
  font-size: 1.25rem;
  color: $primary-color;
  background-color: black;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;

  // Force text to display on one line
  overflow: hidden;
  white-space: nowrap;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  font-family: $primaryFont;
  bottom: 0%;
  position: fixed;
}
